@font-face {
  font-family: "PortoSansRegular";
  src: url("../fontes/PortoSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansStencilBold";
  src: url("../fontes/PortoSansStencil-Bold.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansStencilRegular";
  src: url("../fontes/PortoSansStencil-Regular.otf") format("opentype");
}

:root {
  --blue: #5688c7;
  --blue_rgb: 86, 136, 199;
  --orange: #c94e23;
  --orange_rgb: 201, 78, 35;
  --gray: #bcbec0;
  --gray_rgb: 188, 190, 192;
  --black: #020202;
  --white: #fffffc;
}

.fundo-azul {
  background-color: var(--blue);
  height: 100vh;
}

.fundo-branco {
  background-color: var(--white);
  height: 100vh;
}

img {
  height: 8%;
}

.text-login {
  color: var(--blue);
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-top: 15%;
  margin-bottom: 5%;
  font-family: "PortoSansStencilRegular";
}

.links {
  margin-top: 10%;
}

.links a {
  font-family: "PortoSansRegular";
  font-size: 20px;
  color: var(--white);
}

.links a:hover {
  color: var(--orange);
}

/* Centralizar conteúdo */
.centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.log_input {
  border-color: var(--blue);
  margin-right: 20px;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0%;
  width: 50%;
  margin-bottom: 20px;
}

.log_input::placeholder {
  font-family: "PortoSansStencilRegular";
  color: var(--gray);
  font-size: 20px;
}

.btn {
  margin-top: 10%;
  width: 100%;
}

.btn_login {
  font-family: "PortoSansStencilBold";
  font-size: 22px;
  background-color: rgba(var(--blue_rgb), 0.85);
  width: 140px;
  height: 40px;
  border: none;
  color: var(--white);
  text-align: center;
  border-radius: 7px;
}

.btn_login:hover {
  background-color: var(--blue);
}
