@font-face {
  font-family: "PortoSansStencilBold";
  src: url("../fontes/PortoSansStencil-Bold.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansStencilRegular";
  src: url("../fontes/PortoSansStencil-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansRegular";
  src: url("../fontes/PortoSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansLight";
  src: url("../fontes/PortoSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansBold";
  src: url("../fontes/PortoSans-Bold.otf") format("opentype");
}

:root {
  --blue: #5688c7;
  --blue_rgb: 86, 136, 199;
  --orange: #c94e23;
  --orange_rgb: 201, 78, 35;
  --gray: #bcbec0;
  --gray_rgb: 188, 190, 192;
  --black: #020202;
  --white: #fffffc;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 65;
  background-color: var(--white);
}

.container {
  width: 100%;
}

.title_detail {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 90px;
  font-size: 40px;
}

.sub_title_detail {
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
}

.text_detail {
  font-family: "PortoSansLight";
  font-size: 20px;
  text-align: justify;
}

.info {
  width: 100%;
  margin-bottom: 5px;
}

.info_title {
  font-family: "PortoSansStencilRegular";
  color: var(--blue);
  margin-right: 5px;
}

.info_paragraph {
  font-family: "PortoSansLight";
  color: var(--black);
}

.info_paragraph_bold {
  font-family: "PortoSansRegular";
}

.info_link {
  color: var(--black);
  text-decoration: none;
}

.info_link:hover {
  color: var(--orange);
  text-decoration: underline;
}

.note {
  margin-top: 20px;
  border: 1px solid var(--orange);
  border-radius: 5px;
}

.note_title {
  padding-left: 10px;
  padding-top: 5px;
  font-family: "PortoSansStencilRegular";
  color: var(--orange);
  font-size: 20px;
}

.note_paragraph {
  font-family: "PortoSansLight";
  color: var(--black);
  padding-left: 10px;
  padding-bottom: 10px;
}

.note_link {
  color: var(--black);
  text-decoration: none;
}

.note_link:hover {
  color: var(--orange);
  text-decoration: underline;
}
