@font-face {
  font-family: "PortoSansRegular";
  src: url("../fontes/PortoSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansStencilBold";
  src: url("../fontes/PortoSansStencil-Bold.otf") format("opentype");
}

@font-face {
  font-family: "PortoSansStencilRegular";
  src: url("../fontes/PortoSansStencil-Regular.otf") format("opentype");
}

:root {
  --blue: #5688c7;
  --blue_rgb: 86, 136, 199;
  --orange: #c94e23;
  --orange_rgb: 201, 78, 35;
  --gray: #bcbec0;
  --gray_rgb: 188, 190, 192;
  --black: #020202;
  --white: #fffffc;
}

.blue-background {
  background-color: var(--blue);
  height: 100vh;
  color: var(--white);
}

.logo {
  margin-top: 20px;
  margin-inline: auto;
}

.admin {
  font-family: "PortoSansStencilRegular";
  text-align: center;
  color: var(--white);
}

.menu_options {
  margin-top: 10%;
  margin-inline: auto;
}

.select {
  color: var(--orange);
}

.option {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.option:hover {
  color: var(--orange);
}

.ph {
  font-size: 25px;
  margin-right: 10px;
}

a {
  font-family: "PortoSansRegular";
  color: var(--white);
}

a:hover {
  color: var(--orange);
  text-decoration: none;
}

.option span {
  font-size: 23px;
  font-family: "PortoSansRegular";
}

.select a {
  color: var(--orange);
}

.text-orange {
  font-family: "PortoSansStencilRegular";
  color: var(--orange);
  margin-top: 5%;
  margin-left: 5%;
}

.logout-link {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.ph-sign-out {
  font-size: 32px;
}

.button-alterar {
  position: relative;
  left: 20%;
}

.container-fluid {
  height: 100vh;
}

#userCatalog,
#testemunhosCatalog,
#atividadesCatalog,
#premiosCatalog {
  height: 430px;
  overflow-y: auto;
}
